header {
  box-shadow: 0px 0px 1px grey;
  padding: 15px 150px;
  display: flex;
  align-items: center;
}

header h4 {
  margin-right: 70px;
  font-weight: 100;
}

header a {
  text-decoration: none;
}

.cart {
  margin-right: 7px;
}

.zero {
  margin-left: 9px;
}

.about {
  padding-right: 650px;
}

.main {
  padding: 100px 0px;
  background-color: black;
}

.main h1 {
  font-size: 60px;
}

.main p {
  font-size: 25px;
}

.sectionBig {
  padding: 80px 80px;
}

.sectionBig img {
  width: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.productCard {
  border: 1px solid gray;
  border-radius: 10px;
  width: max-content;
}

.productCard .price {
  margin-bottom: 40px;
}

.productCard .priceStar {
  margin-bottom: 33px;
}

@media screen and (min-width: 1200px) {
  productCol {
    width: 25% !important;
  }
}

.buyButton {
  margin-left: 93px;
}

.starIcon {
  margin-left: 93px;
}

.productCard span {
  text-decoration: line-through;
}